@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
	background-image: url(./tempmapbg.png);
	background-size: 100vw 100vh;
	background-color: #7dda8f;
	font-family: 'Roboto', sans-serif;
}

#menuButton {
	display: block;
	width: 20vw;
	height: 20vw;
	position: fixed;
	bottom: 5%;
	left: 40%;
	border-radius: 50%;
	z-index: 10;
}

#menu {
	display: block;
	height: 70vh;
	width: 100vw;
	position: fixed;
	background-color: rgba(67, 67, 67, 0.6);
	z-index: 0;
	color: white;
	text-align: left;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

#menu > * {
	margin-left: 8px;
	font-size: 1.3em;
}

.menuUp {
	bottom: 0;
}

.menuDown {
	bottom: -100%;
}

#locationSearch {
	margin-top: 30px;
}

#locationInput {
	width: 60vw;
	border-width: 3px;
	border-style: solid;
}

#searchClick {
	width: 20%;
	height: 30px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5%;
	display: none;
	margin: 0 auto;
	transform: translate(100%, -30px);
	background: white;
}
#historyDrop {
	transform: translateY(-30px);
	background-color: white;
	width: 60%;
	margin: 0 auto;
}
#historyDrop p {
	border-width: 1px;
	border-style: solid;
	margin: 0;
	border-bottom: none;
}
#historyDrop p:last-child {
	border-bottom: solid 1px;
}

#buildingOutline {
	margin: 0;
	top: 0;
	left: 0;
	z-index: -9;
	display: none;
	position: fixed;
	border-style: solid;
	border-color: #3f0d5e;
	border-width: 1px;
	background-color: rgba(113, 21, 171, 0.5);
}

body > div {
	margin-top: 150px;
	width: 100%;
	text-align: center;
}